html, body 
{
    background: #fff;
    font-family: Segoe UI, Helvetica Neue, Arial, Sans-Serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

body
{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 20px auto;
    width: 640px;
}

h1
{
    font-family: Segoe UI Light, Segoe UI, Helvetica Neue, Arial, Sans-Serif;
    font-weight: normal;
}

#canvas
{
    box-shadow: 0px 0px 10px #ccc;
    margin: 20px 0px;
    /*width: 600px;*/
    /*height: 600px;*/
    height: auto;
}

.container
{
    margin: 30px !important;
}

.navbar .container
{
    margin: 0px !important;
}

.feedback {
    height: 25px;
    padding: 0px 10px 0px 10px;
    margin: 10px;
}